<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="autoHeight" id="reportChartArea"
     style="overflow: hidden; height: 400px; weight: 300px; padding: 0;">
    <div class="container">
        <!-- Sub Widget - UI Chart-->

        <div class="row">
            <div class="block-item bgm-general">
                <div class="clearfix">
                    <div class="doc">
                        <i class="fa fa-pie-chart"></i>
                    </div>
                    <div class="text">
                        <h2>
                            <a href="#" target="_blank" id="reportChartTitle">{{map_title}} - Chart View
                            </a>
                        </h2>

                    </div>
                </div>
            </div>
            <div class="socialWidgetContainer autoHeight" id=""
                 style="overflow: hidden; height: 400px; weight: 300px; padding: 0;">
                <div class="container">
                    <div class="row" id="testId">

                        <nvd3 options="chartOptions" data="chartData"></nvd3>

                    </div>
                </div>


            </div>
        </div>
        <hr/>
        <!-- Sub Widget - UI Table Information-->
        <div class="row ">
            <div class="block-item bgm-general">
                <div class="clearfix">
                    <div class="doc">
                        <i class="fa fa-pie-chart"></i>
                    </div>
                    <div class="text">
                        <h2>
                            <a href="#"

                               target="_blank" id="reportTableTitle">{{map_title}} - Tabular View</a>
                        </h2>

                    </div>
                </div>
            </div>
            <div class="socialWidgetContainer autoHeight" id="reportTableArea"
                 style="overflow: hidden; height: 600px; weight: 300px; padding: 0;">
                <div class="container">
                    <div class="row">
                        <div style="height: 500px !important;overflow-y:scroll;">
                            <table class="table table-responsive table-bordered table-striped marker-tooltip-table">
                                <tr>
                                    <th>#</th>
                                    <th>Country</th>
                                    <th>Gross Domestic Product (GDP)</th>
                                    <th>Total Expenditure</th>
                                    <th>Total Revenue</th>

                                </tr>
                                <tr ng-repeat="x in data">

                                    <td>{{}}</td>
                                    <td>{{x.COUNTRY}}</td>
                                    <td>{{x.GDP}}</td>
                                    <td>{{x.TOTAL_EXP}}</td>
                                    <td>{{x.TOTAL_REVENUE}}</td>
                                </tr>

                            </table>
                        </div>


                    </div>
                </div>

            </div>
        </div>
        <!-- Sub Widget - UI Table Information-->

        <div class="row">
            <label>Figures are given as million USD.</label>
            <dl>
                <dt>Data Source :</dt>
                <dd><a href="https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29" target="_blank">List of countries by GDP (nominal)</a></dd>
                <dd><a href="https://en.wikipedia.org/wiki/List_of_countries_by_government_budget" target="_blank">List of countries by government budget</a></dd>
            </dl>

        </div>

    </div>

</div>
</body>
</html>