<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="socialWidgetContainer autoHeight" id="reportChartArea"
     style="overflow: hidden; height: 400px; weight: 300px; padding: 0;">
    <div class="container">
        <!-- Sub Widget - UI Chart-->
        <div class="row">
            <div class="block-item bgm-general">
                <div class="clearfix">
                    <div class="doc">
                        <i class="fa fa-pie-chart"></i>
                    </div>
                    <div class="text">
                        <h2>
                            <a href="#" target="_blank" id="reportChartTitle">{{map_title}} - Map View
                            </a>
                        </h2>

                    </div>
                </div>
            </div>
            <div class="socialWidgetContainer autoHeight" id=""
                 style="overflow: hidden; height: 400px; weight: 300px; padding: 0;">
                <div class="container">
                    <div class="row">
                       <leaflet width="100%" height="680px" lf-center="malaysia" markers="markers"></leaflet>
                    </div>
                </div>
                <hr />

            </div>
        </div>
        <!-- Sub Widget - UI Table Information-->

        <!-- Sub Widget - UI Table Information-->
        <div class="row ">
            <div class="block-item bgm-general">
                <div class="clearfix">
                    <div class="doc">
                        <i class="fa fa-pie-chart"></i>
                    </div>
                    <div class="text">
                        <h2>
                            <a href="#"

                               target="_blank" id="reportTableTitle">{{map_title}} - Tabular View</a>
                        </h2>

                    </div>
                </div>
            </div>
            <div class="socialWidgetContainer autoHeight" id="reportTableArea"
                 style="overflow: hidden; height: 400px; weight: 300px; padding: 0; ">
                <div class="container">
                    <div class="row">
                        <div style="height: 500px !important;overflow-y:scroll;">
                        <table class="table table-responsive table-bordered table-striped marker-tooltip-table">
                            <tr>
                                <th>Rank</th>
                                <th>Country</th>
                                <th>GDP (Millions of US$) </th>
                            </tr>
                               <tr ng-repeat="x in data">
                                   <td>{{x.RANK}}</td>
                                   <td>{{x.COUNTRY}}</td>
                                   <td>{{x.GDP_IN_MILLIONS | currency}}</td>
                               </tr>

                        </table>
                        </div>


                    </div>
                </div>

            </div>
        </div>
        <!-- Sub Widget - UI Table Information-->

    </div>

</div>

</body>
</html>