<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="mygmoFooter">
    <div class="container"
         style="margin-top: 0px !important; margin-bottom: 0px !important;">
        <div class="row">
            <div class="col-md-6">
                <h3>
                    <div class="block-item">
                        <div class="clearfix">
                            <div class="doc">
                                <i class="fa fa-address-card fa25px paddingLeft0px"></i>
                            </div>
                            <div class="text">
                                <h2 class="fontSize19px">
                                    <a href="#" title="News &amp; Activities" target="_blank">Contact
                                        Us</a>
                                </h2>

                            </div>
                        </div>
                    </div>
                </h3>
                <p style="margin: 0px !important;">
                    Contact
                </p>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <h3>
                        <div class="block-item">
                            <div class="clearfix">
                                <div class="doc">
                                    <i class="fa fa-external-link-square fa25px paddingLeft0px"></i>
                                </div>
                                <div class="text">
                                    <h2 class="fontSize19px">
                                        <a href="#" title="News &amp; Activities" target="_blank">Quick Links</a>
                                    </h2>

                                </div>
                            </div>
                        </div>
                    </h3>
                    <a href="https://www.malaysia.gov.my/" target="_blank"
                       style="cursor: pointer;"><img

                            src="resources/img/logo/my-logo.png" class="footerLogoImage" /></a>


                </div>

            </div>

        </div>
        <hr class="hr5pxSolid" />

        <div class="row"
             style="text-align: center; color: #e7e7e7; font-size: 17px;">
				<span> <a
                        href="/mygmo/landing/terms">Terms and
						Conditions</a> |
                    <a href="/mygmo/landing/privacy"
                    >Privacy</a> <span
                    >|</span>
                    <a
                            href="/mygmo/pvt/feedback"
                    >Suggestion Box</a></span>
        </div>

        <hr class="hr5pxSolid" />
        <div class="row">

            <div class="col-md-6">
                <p class="pull-left"
                   style="margin: 2px; font-size: 11px !important; font-weight: normal; color: #bebebe;">
                    Copyright 2017, Gross Domestic Product (GDP) Dashboard
                </p>
            </div>

            <div class="col-md-6">
                <p class="pull-right"
                   style="margin: 2px; font-size: 11px !important; font-weight: normal; color: #bebebe;">
                    GDP 1.0 App
                </p>
            </div>
        </div>
    </div>
</div>

</body>
</html>