<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="row">
    <hr class="noLine"/>
    <div class="col-md-3 col-sm-6">
        <div class="rectangleBadge btnCustomWarning" ui-sref="gdpWbMap">
            <p>
                GDP Per the <br/>World Bank
            </p>
            <img src="resources/img/icons/analysis.png"/>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="rectangleBadge btnCustomInfo" ui-sref="gdpImfMap">
            <p>
                GDP Per the International <br/>Monetary Fund
            </p>
            <img src="resources/img/icons/analysis.png"/>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="rectangleBadge btnCustomDarkGrey" ui-sref="gdpUnMap">
            <p>
                GDP Per the <br/>United Nations
            </p>
            <img src="resources/img/icons/analysis.png"/>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="rectangleBadge btnCustomDarkRed" ui-sref="gdpGsMap">
            <p>Government <br/> Spending</p>
            <img src="resources/img/icons/analysis.png"/>
        </div>
    </div>
</div>
<hr class="noLine"/>
</body>
</html>